name: Pull request
on: [pull_request]
jobs:
  PullRequest:
    run_on: ubuntu_latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Make a new envfile
        uses: SpicyPizza/create-envfile@v1
        whith:
          envkey_POSTGRES_USER: ${{secrets.POSTGRES_USER}}
          envkey_POSTGRES_PASSWORD: ${{secrets.POSTGRES_PASSWORD}}
          envkey_POSTGRES_DB: "students__tests"
          envkey_DATABASE_URL: "postgresql://postgres:123456@db:5432/students__tests"
      - name: Run tests
        run: docker-compose -f docker-compose-tests.yml run node_app npm run teste
